.header {
    background-image: url(fondo-degradado-morfismo-vidrio_52683-86366.avif);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.grid-container {
    font-family: courtier;
    font-weight: 100;
    font-size: 20px;
    min-height: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "navbar"
        "main"
        "footer"
    ;
}


.container text-center {
    margin-top: 100;
    padding: 100%;

}

.titulo_principal {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 200px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    color: #000;
    

    backdrop-filter: blur(3px);
    opacity: 0.8;
}


.subtitulo {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    color: #000;
    

    backdrop-filter: blur(3px);
    opacity: 0.8;

}

.separador2 {
    width: 100%;
    height: 400px;
     
}

.separador2 img {
    width: 100%;
    height: 350px;
    background-repeat: no-repeat;
}
.prueba{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px;

}

.div1 {
    margin-top: 100;
    padding: 0;
    display: flex;
    justify-content: center;


}



.p-3 mb-2 bg-info-subtle text-emphasis-info {
    width: 100%;
}


button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-bottom: 15px;
  }
  
  button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


  #tabla1{
    width:500px;
    height: 500px;
   overflow: scroll;
   display: none;
  }

  #impar{
    width:500px;
    height: 500px;
    overflow: scroll;
    display: none;
  }
